

<div class="card ">
   
  <form [formGroup]="forgetForm">
    <div class="Form-Group card-body">
        <label class="form-label">Email</label>
        <input class="form-control" formControlName="emailId" type="email" name="emailId" >
        <span style="border: red;" *ngIf="!forgetForm.get('emailId')?.valid && forgetForm.get('emailId')?.touched ">*  Plz Enter valid mail "@</span>
    </div>
        <button class="btn btn-danger my-2 mx-3" (click)=" forgetPwd()" type="submit">Submit</button>
    </form>
</div>